---
import Game2048 from '../components/Game2048';
---

<html>
  <head>
	<title>2048 Game</title>
	<link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
	<Game2048 />
  </body>
</html>
